<%-include('partials/header') -%>

<style>

body{
background-image:url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
background-repeat: no-repeat;
background-size: cover;
}

.error{
  width: 100%;
  text-align: center;
  height: 80vh;
  background-position: center;
  color: #444;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.error h1{
  padding-top: 100px;
  font-size: 75px;
}
.error h3{
  font-size: 40px;
}
</style>

<section class="error">
<h1>404</h1>
<h3> Look like you're lost <br>
  the page you are looking for is not avaible!</h3>
</section>
<hr>
<%-include('partials/footer') -%>
