<%-include('partials/header') -%>
<link rel="stylesheet" href="Meet the team.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="index.css">
<title>P3Y |About|</title>
  <section class="header2">

    <div class="about">
<h1>About P3Y</h1>
<p>All You Need To Know</p>
<ul>
  <li><u>Topic</u> - | P3Y | Paramji Papr ParamYog |</li>
  <li><u>Agenda</u> - <br>| Do P3Y for mental peace, prosperity, good health and to fulfill your desires |</li>
  <li><u>Website Name</u> - | P3Y |</li>

  <li><u>Our Objective</u> - <br>| To guide and help people in fulfilling their desires and live life happily |</li>
</ul>


        </div>

<div class="bgg">

</div>
</section>


<hr>

  <section class="main1">
  <div class="main">
    <h1 style="padding-bottom: 30px;"><u>Paparsa</u></h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="book.png"></div>
          <div class="card_content">
            <h2 class="card_title">English Paparsa</h2>
            <p class="card_text">Click here to get English Paparsa Individually<br>...</p>
            <a href="English Paparsa pdf.jpeg" target="blank"><button class="btn card_btn">Click Here</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="combined paparsa.png"></div>
          <div class="card_content">
            <h2 class="card_title">English & Hindi Paparsa</h2>
            <p class="card_text">Click here to get Hindi and English Paparsa in a combined form<br>...</p>
            <a href="combined paparsa pdf.pdf" target="blank"><button class="btn card_btn">Click Here</button></a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="Hindi Paparsa.png"></div>
          <div class="card_content">
            <h2 class="card_title">Hindi Paparsa</h2>
            <p class="card_text">Click here to get Hindi Paparsa Individually<br>...</p>
            <a href="Hindi Paparsa pdf.jpg" target="blank"><button class="btn card_btn">Click Here</button></a>
          </div>
        </div>
      </li>
      </ul>
  </div>
  </section>

<hr>


  <section>


    <div class="welcome" id="section2">
      <div id="welcome" class="box">
  
  
  
        <h1 style='font-size: 57px; '>Our system!!</h1> <br><br>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">    
          <u>PAPR</u> - fulfills your desires. It gets you rid of any kind of discomfort, pain or ailment. You can save yourself from any evil lingering on you or any forthcoming trouble completely. (You can do P3Y in any state possible!!)
        </p>
        <br><br>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">
          <u>PARAMYOG</u> - It cures all the incurable diseases like blood pressure problems, mental health issues, depression and all such diseases which have no true cure in this world. It increases the IQ, concentration and memory power of the students. (By ParamYog you can receive mental peace and good health!!)
        </p>
        <br><br>
        <h3 style='font-size: 50px; text-align: left; padding-left: 50px; padding-right:50px;'><u>These are the lines of papr -</u></h3>
        <br>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">|1| Parmam Sharnam Gachami</p>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">|2| Hansam Sharnam Gachami</p>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">|3| Adwaitam Sharnam Gachami</p>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">|4| Anandam Sharnam Gachami</p>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">|5| Charnam Sharnam Gachami</p>
        <br>
        <hr>
        <br>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">|6| hey paramji.</p>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">|7| Mujh par kripa karo</p>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">|8| Sir jhukakar paramji ko namashkar karta/karti hoon.</p>
        <br>
        <hr>
        <br>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">|9| Today give me mental peace. (Any wish as per your desire)</p>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">|10| As soon as my desire is fulfilled, in pakar - I will give - 1 paisa to - Paramji, Alias his holiness. (Money as per your desire.)</p>
        <p style="font-size: 30px; padding-left: 50px; padding-right:50px; text-align: left;">|11| As soon as my desire is fulfilled, in pakar - I will explain P3Y to - 1 new person (Prachar as per your desire.)</p>
        <br><br>
        <hr>
        <br><br>
        <a href="/classes" class="hero-btn"><b>Explore More</b></a>
      </div>
    </div>
  </section>


  <div class="wrapper">
    <img src="up.png" alt="" onclick="totopscroll()">
  </div>
  <hr>
<%-include('partials/footer') -%>