<%-include('partials/header') -%>
 <html>
   <head>
      <link rel="stylesheet" href="index.css">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="guide.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>P3Y |Online Class|</title>
   </head>
   <body>
    <section class="main1">
      <div class="main">
        <h1 style="padding-bottom: 30px;"><u>Online Class</u></h1>
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="sunday.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Class at every Sunday</h2>
                <h3 class="card_title">Time - 6pm</h3>
                <p class="card_text">Click here to join the meeting<br>...</p>
                <a href=""><button class="btn card_btn">Click Here</button></a>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="saturday.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Class at every Saturday</h2>
                <h3 class="card_title">Time - 9pm</h3>
                <p class="card_text">Click here to join the meeting<br>...</p>
                <a href=""><button class="btn card_btn">Click Here</button></a>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="extraclass.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Extra Class (Optional)</h2>
                <br><br>
                <p class="card_text">Click here to join the meeting<br>...</p>
                <a href="/"><button disabled style="width: 100%; height: 48px;" class="btn1 card_btn">Currently Disabled</button></a>
              </div>
            </div>
          </li>
          </ul>
      </div>
      </section>
      <hr>
      <section>


        <div class="welcome" id="section2" style="background-image: linear-gradient(rgba(36, 36, 36, 0.753), rgba(48, 47, 47, 0.753)),  url(Paramji_Alias_His_Holiness_Holy_Feet_of_Paramji.jpg)">
          <div id="welcome" class="box">
      
      
      
            <h1 style='font-size: 57px; '>Our Mission!!</h1> <br><br>
            <p style="font-size: 30px; padding-left: 50px; padding-right:50px;">    
              "| Do as much Prachar as you can. happiness should be spread among all. |"
            </p>
            <br><br>
            <img class = "guideimage"src="Paramji_Alias_His_Holiness_Holy_Feet_of_Paramji.jpg" alt="">
            <br><br>
            <h1 style='font-size: 57px; padding-left: 50px; padding-right:50px;'>Divine Promise</h1> <br><br>
            <p style="font-size: 30px; padding-left: 50px; padding-right:50px;">
              Make unconditional surrender to me and I will give you something greater than Mukti (salvation, Liberation, Enlightenment). Pleasure of heaven or Mukti is nothing before the state that I will give you. "Daily Sadhana and Indoor - Satsang is sure to elevate your family environment. Sadhana under my guidance is sure to give you all that you want. I am the solution of your life and the world you live in. Give me your life and I will give you peace, prosperity and eternal bliss.
            </p>
            <br><br>
            <a href="divinepromise.jpeg" class="hero-btn" target="blank">View More</a>
          </div>
        </div>
      </section>
      <hr>
      <div class="wrapper">
        <img src="up.png" alt="" onclick="totopscroll()">
      </div>
   </body>
 </html>
<%-include('partials/footer') -%>

