<link rel="icon" href="P3Y.png" sizes="16X10">
<hr>
<div class="ribbon">
  <marquee>
    <div style="color: white;">In P3Y there is the solution of most of the problems. Because P3Y is the great truth. Charnam Sharnam Gachami. Pls recieve all the information related to P3Y |Paramji Papr Paramyog.</div>
  </marquee>

</div>

<%-include('partials/header') -%>


<link rel="stylesheet" href="Style.css">
<link rel="stylesheet" href="footer.css">
<title>P3Y |Home|</title>
<section>

  <div class="header">
    <div class="box">

      <h1 style="font-size: 57px; padding-top: 40px;">| P3Y | Paramji Papr ParamYog</h1> <br><br>
      <p style="font-size: 30px; ">First try all the means that brings prosperity, health, happiness, 
        peace and bliss. When all fail, when you become hopeless in all respect - Then come to Paramji's Sharan and do Samarpan. 
        You will receive everything. Now don't go to Sharan of others.</p>
      <br><br><br>

      <a onclick="scrolltowlec()" class="hero-btn"><b>Learn More</b></a>

    </div>
</section>

<hr>

<section>


  <div class="welcome" id="section2">
    <div id="welcome" class="box">



      <h1 style='font-size: 57px;'>Do P3Y for yourself!!</h1> <br><br>
      <p style="font-size: 30px;">
The entertainment, sound sleep and peace are the necessities of your head. The head  
need healthy entertainment .The unhealthy entertainment disturbs your sleep and you 
become restless. The sleep and peace can not be bought from the market. ...if you want
peace, happiness and bliss, you must do ParamYog.....Paramji. 
Learn ParamYog.... <br>Pushpindra Mahajan - 
<a href="tel: 9418012523" class="hero-btn" style="font-size: 25px; padding: 2px 2px;">9418012523</a>  
,
 <a href="tel:7018157138" class="hero-btn" style="font-size: 25px; padding: 2px 2px;">7018157138</a>    
</p>
      <br><br><br>
      <a href="/about" class="hero-btn"><b>Explore</b></a>
    </div>
  </div>
</section>
<hr>

<div class="wrapper">
  <img src="up.png" alt="" onclick="totopscroll()">
</div>
<%-include('partials/footer') -%>
